<app-menu></app-menu>


<section class="banner">

</section>

<section>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-3 p-3">
                <p>Horario habitual</p>
                <p>Lunes a viernes: <br>6:00 a.m. - 8:00 p.m.</p>
                <p>Sábado y domingo: <br>cerrado</p>
                <p>En el horario habitual solo están funcionando los parqueaderos de Convenciones.</p>
    
            </div>
            <div class="col-12 col-md-3 p-3">
                <p>Tarifas</p>
                <p>Motos: </p>
                <p>Minuto: $150</p>
                <p>Hora: $1.800</p>
            </div>
            <div class="col-12 col-md-3 p-3">
                <p>Tarifas</p>
                <p>Carros: </p>
                <p>Minuto: $150</p>
                <p>Hora: $5.800</p>
            </div>
        </div>
        
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-8">
                <table class="table table-bordered">
                    <thead class="dotted">
                      <tr class="text-center">
                        <th scope="col text-center">
                            <i class="bi bi-geo-alt fs-3"></i>
                            <br>
                            Parqueaderos
                        </th>
                        <th scope="col dotted">
                            <i class="bi bi-car-front fs-3"></i>
                            <br>
                            Celdas para carro
                        </th>
                        <th scope="col dotted">
                            <i class="bi bi-bicycle fs-3"></i>
                            <br>
                            Celdas para moto
                        </th>
                        <th scope="col dotted">
                            <i class="bi bi-person-circle fs-3"></i>
                            <br>
                            Celdas movilidad reducida
                        </th>
                      </tr>
                    </thead>
                    <tbody class="dotted text-center">
                      <tr class="dotted">
                        <th scope="row">Recinto de Convenciones</th>
                        <td>294</td>
                        <td>-</td>
                        <td>9</td>
                      </tr>
                      <tr class="dotted">
                        <th scope="row">Pabellon verde</th>
                        <td>121</td>
                        <td>120</td>
                        <td>6</td>
                      </tr>
                      
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    Solo están habilitados en este momento los parqueaderos de Convenciones.
                    <br><br>
                    - La tarifa día aplica a partir de la cuarta hora de estacionamiento.
                    <br>
                    - No existe tarifa para la fracción de 15 ó 30 minutos y siempre se cobrará por hora completa de parqueo.
                    <br>
                    - Los horarios podrán variar dependiendo de los eventos programados en nuestro recinto.
                </p>
                
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-8">
                <img src="../../assets/img/verde.png" alt="verde" class="mx-auto d-block img-fluid">
            </div>
        </div>
    </div>
</section>

